.topbar{
    &__first{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    &__sort-btn{
        font-weight: 500;

    }

}
.hero{
    padding: 0 20px;
}